*pyc
*~
*sqlite3
*.DS_Store
.idea/*
dumps/*
tipsi_web/tipsi/media/*
tipsi_web/setup.el
tipsi_web/.envrc
\.#*
\#*
tipsi_web/tipsi/static/
.coverage
abv_api/static
abv_api/*.cmd
abv_api/*.sh
abv_api/abv/settings*.py

# various
stats/static/stats/
retail.*
ext_configs/filebeat/filebeat.new.yml
.nyc_output
!Icon
docs/build/
.cache
/.coverage
/.filebeat
/TAGS
/*.calltree
/*.prof
.doc
.tmp
htmlcov/
oo
.pytest_cache
.artifacts
tipsi_web/venv/
*/.idea/
venv